NODE_ENV=development
PORT=3000

# Com o docker-compose: postgresql://gamevault:gamevault@localhost:5432/game_vault
DATABASE_URL="postgresql://usuario:senha@localhost:5432/game_vault?schema=public"

# Gere um valor aleatório forte (mínimo 32 caracteres):
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=
JWT_EXPIRES_IN=15m
